/* HR SourceSansPro Font */
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/source-sans-pro/SourceSansPro-Regular.otf');
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/source-sans-pro/SourceSansPro-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/source-sans-pro/SourceSansPro-Italic.otf');
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/source-sans-pro/SourceSansPro-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/source-sans-pro/SourceSansPro-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/source-sans-pro/SourceSansPro-LightItalic.otf');
    font-style: italic;
    font-weight: 300;
}

body {
    /*padding-top: 100px;*/
}

.blogger-font {
    font-family: SourceSansPro;
    /*text-align: center;*/
    /*font-weight: 200;*/
}
/* Dark Color Editor: background-color: #303840; */

body {
  padding-top: 52px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

/* Styles for the home page */
div.banner-bottom#home-bottom{
    background-color: rgb(35, 170, 253);
    padding-top: 100px;
    /*margin-top: 200px;*/
    padding-bottom: 100px;
}

.home-desc {
    font-family: SourceSansPro;
    font-weight: 100;
    font-size: 25px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

div.home-works {
    font-family: SourceSansPro;
    font-weight: 900;
    font-style: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 100px;
    background-color: #de7c00;
    color: white;
}

/* Styles for the Editor */
#editor {
    /*padding-top: 30px;*/
    height: 970px; /* set to the height of macbook pro 13" */
    padding-right:65px;
    padding-left: 0;
    width: 830px;
    /*max-width: 50%;*/
    /*background-color: #ccc;*/
}


/*div.home-bar {
    margin-left: 255px;
    margin-right: 255px;
    text-align: center;
    max-width: 100%;
}*/

div#console.home-console {
    margin-right: -500px;
    /*margin-left: ;*/
}

div.home-editor #editor {
    padding-left: 0;
}

div.container {
    /*margin: 0px;*/
}


/* nav-run and nav-settings are texts on the navbar in editor */

.nav-tabs {
    color: #de7c00;
}

/*div.home-middle {
    height: 976px;
    background-color: #303840;
}*/

/* navbar styles*/

#a:hover {
    background-color: #de7c00;
}

.navbar {
    background-color: #303840;
}

nav.nav-tabs navbar-nav {
    background-color: #de7c00;
}

.navbar.navbar-inverse.navbar-fixed-top.navbar-static-top {
    border-bottom: 0px;
    background-color: #de7c00;
    color: #eee;
    font-family: SourceSansPro;
}

ul.nav.nav-tabs.navbar-nav {
    border-bottom: 0px;
}

div.home-console {
    float : right;
}

div.home-editor {
    float: left;
}

.icon-bar {
    font-size: 25px;
}

 /*Terminal Styles */
#console-terminal-editor {
    /*min-width: 55%;
    /*max-width: 100%;*/
    /*padding-top: 52px;*/
    height: 970px;
    width: 830px;
    background-color:black;
    position: absolute;
}

div#console-terminal-editor.home-console {
    background-color: #303840;
}
/* The inner console element. */
.jqconsole {
    /*padding: 10px;*/
    background-color: #303840;
    border: 0px;
}
/* The cursor. */
.jqconsole-cursor {
    background-color: #eee;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: #eee;
}
/* The current prompt text color */
.jqconsole-prompt {
    color: rgb(35, 170, 253);
}
/* The command history */
.jqconsole-old-prompt {
    color: #eee;
    font-weight: normal;
}
/* The text color when in input mode. */
.jqconsole-input {
    color: #eee;
}
/* Previously entered input. */
.jqconsole-old-input {
    color: #eee;
    font-weight: normal;
}
/* The text color of the output. */
.jqconsole-output {
    color: white;
}

.my-output-class {
    color: #eee;
}

/* End for jqconsole styles */

/* Styles for the Home-Page */
.banner-text {
	font-family: SourceSansPro;
	font-size: 100px;
	font-weight: 100;
}


.blue-you {
	color: rgb(35, 170, 253);
}

.below-banner-text {
	font-family: SourceSansPro;
	font-size: 25px;
	font-weight: 100;
}

.below-banner {
	text-align: center;
	padding-bottom: 40px;
}

div.jumbotron {
	text-align: center;
	padding-top: 300px;
	background-color: #fff;
	padding-bottom: 50px;
}

.home-terminal {
	font-size: 50px;
    /*background-color: black;*/
    /*color: #fff;*/
    margin-bottom: 100px;
	/*padding-top: 10px;*/
}

.a-home:hover {
    text-decoration: none;
    color: white;
}

.home-selection:hover {
    cursor: pointer;
    cursor: hand;
}

.home-terminal-space {
    background-color: #fff;
}

.blink-terminal {
    width: 27.5px;
    height: 59px;
    background-color: black;
    float: right;
}
.brown-terminal {
    width: 27.5px;
    height: 59px;
    background-color: brown;
    float: left;
    /*overflow: hidden;*/
}

.terminal-wrapper {
    overflow: hidden;
    width: 55px;
}

/* vertically-align the github and terminal icons on the home-page*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* navbar */
.editor-sidebar {
    z-index: -999;
}


/** BLOG STYLES **/

/* blog navbar */
.blog-nav.nav.navbar-nav.navbar-right li a {
    color: #de7c00;
}

/* aims to try and remove the button highlighting */
.btn:focus { 
  outline: none;
}

div.jumbotron.banner-blog {
    background-image: url(./img/bricks.jpeg);
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    /*padding-top: 0px;
    padding-bottom: 150px;
    padding-right: 15px;
    padding-left: 15px;*/
}

/* teseting to set the whole background as an image*/
/*.blog-page {
    background-image: url(./img/bricks.jpeg);
    background-size: cover;
}
*/
.blog-nav-right {
    margin-left: 100px;
}

.blog-nav-left {
    margin-right: 100px;
}

/* added uqestion-header for Media.Heading for blogger-question */
.blog-selection-header .question-header {
    font-family: SourceSansPro;
    font-style: bold;
    font-size: 35px;
    text-align: left;
}

.question-header {
    padding-bottom: 20px;
}

.blog-selection-name {
    font-family: SourceSansPro;
    font-style: italic;
    font-size: 20px;
    text-align: right;
}

.blog-selection-bootcamp {
    font-family: SourceSansPro;
    font-size: 20px;
    text-align: left;
}

.banner-text-blog {
    font-family: SourceSansPro;
    font-size: 40px;
    font-weight: 100;
    padding-top: 50px;
    padding-bottom: 50px;
    /*padding-left: 300px;*/
    /*padding-right: 300px;*/
    /*background-color: #de7c00;*/
    text-align: center;    
}

.blog-selection {
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

a.blog-selection-link {
    color: black;
}

/* used so when hovering, no color changes occur but element is clickable*/
a.blog-selection-link:hover {
    color: black;
    text-decoration: none;
}

.blog-outline {
    outline: 1px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

/* styles for the question */
span.ques-num {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: SourceSansPro;
  font-size: 35px;
  /*font-style: bold;*/
  text-align: left;
  /*font-weight: 100;*/
}

span.res {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: SourceSansPro;
  font-size: 25px;;
  font-weight: 100;
  text-align: left;
}

span.ques-word {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: SourceSansPro;
    font-size: 30px;
    /*font-style: bold;*/
    text-align: left;
}

/* styles for blogger-profile */
div.blogger-banner-img {

}
div.blogger-footer {
    /*background-color: rgb(35, 170, 253);*/
    background-color: #de7c00;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: SourceSansPro;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 100px;
}

/* splash page styles */
.challenge-splash-jumbo {  
    /*nothing yet*/
}

div.challenge-footer {
    background-color: #de7c00;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: SourceSansPro;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 100px;

}

.challenge-splash-supporting {
    font-family: SourceSansPro;
    font-weight: 100px;
    font-size: 20px;
    text-align: center;
}

.challenge-sub {
    font-style: italic;
}

a.challenge-start:hover {
    color: black;
    text-decoration: none;
}

/* How it works page */
div.how-header {
    text-align: center;
    padding-top: -50px;
    background-image: url(./img/code-guy.jpg);
    font-size: 50px;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-style: bold;
}

.how-left {
    background-color: white;
}

.how-bottom {
    /*padding-top: 200px;*/
    padding-right: 300px;
    padding-left: 300px;
}

.how-desc {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: SourceSansPro;
    font-weight: 100px;
    font-size: 20px;
    text-align: center;
}

.how-desc-bott {
    padding-right: 300px;
    padding-left: 300px;
}

.how-links {
    text-align: center;
    color: #000000;
}

.how-left {
    background-color: #de7c00;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: SourceSansPro;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 100px;
}

.how-right {
    background-color: #660066;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: SourceSansPro;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 100px;
}


/* admin */
#formSpace {
    margin-top: 90px;
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    background-color: grey;
}

pre {
  height: 17pc
}

.hide {
    display: none;
}
